<div class="row">
    <div class="col">
        <%= link_to '<button type="button" class="btn btn-secondary">Add Entry</button>'.html_safe, new_entry_path %>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="background-color:lightgray">Date</th>
                    <th style="background-color:lightgray">Project Code</th>
                    <th class="text-end" style="background-color:lightgray">Hours</th>
                    <th style="background-color:lightgray">Billable</th>
                    <th style="background-color:lightgray">First Name</th>
                    <th style="background-color:lightgray">Last Name</th>
                    <th class="text-end" style="background-color:lightgray">Billable Rate</th>
                </tr>
            </thead>
            <tbody>
                <% @entries.each do |entry| %>
                    <tr>
                        <td>
                            <%= entry.date %>
                        </td>
                        <td>
                            <%= link_to entry.project.project_code, project_path(entry.project.id) %>
                        </td>
                        <td class="text-end">
                            <%= entry.hours %>
                        </td>
                        <td>
                            <%= entry.billable %>
                        </td>
                        <td>
                            <%= entry.employee.first_name %>
                        </td>
                        <td>
                            <%= entry.employee.last_name %>
                        </td>
                        <td class="text-end">
                            <%= number_to_currency(entry.billable_rate) %>
                        </td>
                    </tr>
                    <% end %>
            </tbody>
        </table>
    </div>
</div>