<h1>Create new entry</h1>
<%= form_with model: @entry do |form| %>
    <div>
        <%= form.label :project_id %><br>
            <%= form.text_field :project_id %>
    </div>
    <div>
        <%= form.label :date %><br>
            <%= form.text_area :date %>
    </div>
    <div>
        <%= form.label :hours %><br>
            <%= form.text_area :hours %>
    </div>
    <div>
        <%= form.label :billable %><br>
            <%= form.text_area :billable %>
    </div>
    <div>
        <%= form.label :first_name %><br>
            <%= form.text_area :first_name %>
    </div>
    <div>
        <%= form.label :last_name %><br>
            <%= form.text_area :last_name %>
    </div>
    <div>
        <%= form.label :billable_rate %><br>
            <%= form.text_area :billable_rate %>
    </div>
    <div>
        <%= form.submit %>
    </div>
    <% end %>