<h1>Create new entry</h1>
<%= form_with model: @entry do |form| %>
    <div>
        <%= form.label :project_id %><br>
            <%= form.collection_select :project_id, Project.order(:project_code), :id, :project_code, include_blank: true %>

    </div>
    <div>
        <%= form.label :date %><br>
            <%= form.date_field :date, value: Date.today %>
    </div>
    <div>
        <%= form.label :hours %><br>
            <%= form.number_field :hours, value: 1, min:1, max:24 %>
    </div>
    <div>
        <%= form.label :billable %><br>
            <%= form.check_box :billable %>
    </div>
    <div>
        <%= form.label :first_name %><br>
            <%= form.text_field :first_name %>
    </div>
    <div>
        <%= form.label :last_name %><br>
            <%= form.text_field :last_name %>
    </div>
    <div>
        <%= form.label :billable_rate %><br>
            <%= form.number_field :billable_rate, min: 0 %>
    </div>
    <div>
        <%= form.submit %>
    </div>
    <% end %>